doctype html
html(lang='ru-RU')
	include ../partials/head.jade

	body
		<!--PRELOADER-->
		.preloaderGM
			.pre_circles
				.pre_circle1
				.pre_circle2
		<!-- END PRELOADER-->
		include ../partials/variables.jade
		include ../partials/header.jade
		include ../partials/sections.jade
		include ../partials/footer.jade

