<!-- build:js js/libs.min.js -->
//- script(src='js/wow.min.js')
script(src='js/AnchorScroller.js')
script(src='js/cookie.js')
script(src='js/jquery.cookie.js')
script(src='js/validator.js')
script(src='js/intlTelInput.min.js')
script(src='js/script.js')
script(src='js/popup_script.js')
script(src='js/jquery.countdown.js')
script(src='js/slick.min.js')
<!-- endbuild -->

<!-- build:js js/common.min.js -->
script(src='js/common.js')
<!-- endbuild -->
<!--auto country code srcipt -->
script.
	$(function () {
		$("input.phone").intlTelInput({
			utilsScript       : 'js/utils.js',
			defaultCountry    : 'auto',
			separateDialCode  : false,
			nationalMode      : false,
			initialCountry    : 'auto',
			geoIpLookup       : function (callback) {
					$.get("https://ipinfo.io", function () {
					}, "jsonp").always(function (resp) {
							var countryCode = (resp && resp.country) ? resp.country : "";
							callback(countryCode);
					});
			},
			preferredCountries: ['ua', 'ru', 'by', 'kz']
		});

	});
script.
	$(window).load(function(){
		$.getJSON('https://freegeoip.net/json/', function (data) {
			var country = data.country_code;
			if (getCookie("phone")) {
					$("#phone").val(getCookie("phone"));
			}
			else if (country === 'UA') {
					$('#phone').val('+380');
			}
			else if (country === "RU") {
					$('#phone').val('+7');
			}
			else {
					var countryData = $("#phone").intlTelInput("getSelectedCountryData");
					var dialCode = countryData.dialCode;
					$('#phone').val('+' + dialCode);
			}
		});
	})
<!--end auto country code srcipt -->
<!--Validation script -->
script.
	function validate(formid)
		{
			var output = false;
			var name, email, phone;
			form = $(formid); // указать ID формы !
			form.find('input.name').focus();
			form.find('input.email').focus();
			form.find('input.phone').focus();
			form.find('input[type="submit"]').focus();
			name = form.find('.name').val();
			email = form.find('.email').val();
			phone = form.find('.phone').val();
			phone = phone.replace(/\s/g, '');
			if ($('.not_error').length == 3)
			{
				$.ajax(
				{
					type: "POST",
					url: 'export.php',
					async: false,
					data:
					{
						name: name,
						email: email,
						phone: phone
					},
					success: function()
					{
						setCookie('name', form.find('.name').val(), 365);
						setCookie('email', form.find('.email').val(), 365);
						setCookie('phone', form.find('.phone').val(), 365);
						output = true;
					}
				});
			}
			else
			{
				form.find('input.error').first().focus();
			}
			return output;
		};
<!-- END Validation script -->